</br.>

<h1>Hello fellow human!</h1>


<p>Welcome to the Friends website. Here you can find a list of your friends details for you to keep up with your friends network. Just be sure not to be creepy with collecting all the data. Remember, consent is the key! Be it friends data or research data. Have fun!</p>
